[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "*"
ipython = "*"
flake8 = "*"
pytest = "*"
sympy = "*"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
pillow = "*"
asn1 = "*"

[requires]
python_version = "3.7"
